---
---

@import 'query';
@import 'theme';

header.splash {
    font-family: $banner-font;
    background-position: right;

    h1 {
        display: inline-block;
        font-size: 4em;
        line-height: 1.2;
        max-width: 500px;

        color: rgba(255, 255, 255, 0.85);

        padding: 0;
        margin: 0;
        margin-bottom: 0.2em;
    }

    h2 {
        display: inline-block;
        font-size: 2.2em;

        color: #fff;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

        padding: 0;
        margin: 0;
    }
}

@media #{query-splash-size(480px, 360px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_480.jpg);
    }
}

@media #{query-splash-size(640px, 480px, 480px, 360px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_640.jpg);
    }
}

@media #{query-splash-size(960px, 720px, 640px, 480px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_960.jpg);
    }
}

@media #{query-splash-size(1366px, 1025px, 960px, 720px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_1366.jpg);
    }
}

@media #{query-splash-size(2048px, 1536px, 1366px, 1025px, $last: true)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_2048.jpg);
    }
}
