---
---

@import 'no-select';
@import 'animation';
@import 'transform';
@import 'query';
@import 'theme';

$accent1: #53af82; //#00b55c;
$accent2: #ba6b00;
$link-btn: transparentize($accent1, 0.4);
$link-btn-highlight: transparentize($accent2, 0.4);

header.splash {
    font-family: $banner-font;
    background-position: right;

    @include no-select;

    .center {
        padding: 0 30px;
    }

    h1, h2 {
        font-weight: normal;
    }

    h1 {
        display: inline-block;
        font-size: 4em;
        line-height: 1.2;
        max-width: 500px;

        color: rgba(255, 255, 255, 0.85);

        padding: 0;
        margin: 0;
    }

    h2 {
        display: inline-block;
        font-size: 2.2em;

        color: #fff;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

        padding: 0;
        margin: 1em 0;
    }

    .links {
        margin: 0 auto;
        padding: 0;

        font-family: $font;
        font-weight: $navbar-font-weight;
        font-size: 15px;
        text-transform: uppercase;

        a {
            display: inline-block;
            background-color: $link-btn;

            padding: 8px 16px;
            margin: 2px;
            margin-bottom: 12px;
            margin-right: 12px;

            border-radius: 24px;

            &:last-child {
                margin-right: 0;
            }

            &:link,
            &:active,
            &:visited {
                color: #fff;
                text-decoration: none;
            }

            &:hover, &:focus {
                color: #fff;
                background-color: $link-btn-highlight;
            }
        }
    }
}

@media (max-height: 689px), (max-width: 999px) and (max-height: 749px) {
    header.splash .center {
        padding-top: 60px;
    }
}

@media (max-width: 585px), (max-height: 420px) {
    header.splash h1 {
        font-size: 3em;
        max-width: 400px;
    }
}

@media (max-width: 694px) and (max-height: 689px), (max-width: 585px), (max-height: 600px) {
    header.splash h2 {
        font-size: 1.8em;
        margin: .6em 0;
    }
}

@media (min-width: 511px) and (max-width: 999px) {
    header.splash .links {
        max-width: 520px;

        a:nth-child(3) {
            margin-right: 0;
        }
    }
}

@media (max-width: 414px) {
    header.splash {
        .center {
            padding-left: 0;
            padding-right: 0;
        }

        h1 {
            font-size: 2.8em;
        }

        h2 {
            font-size: 1.5em;
        }
    }
}

@media (max-width: 339px) {
    header.splash {
        h1 {
            font-size: 2.5em;
        }

        .links a {
            margin-right: 2px;
            margin-bottom: 6px;
        }
    }
}

@media (max-width: 510px) {
    header.splash .links {
        max-width: 400px;

        a:nth-child(2), a:nth-child(5) {
            margin-right: 0;
        }
    }
}

@media #{query-splash-size(480px, 360px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_480.jpg);
    }
}

@media #{query-splash-size(640px, 480px, 480px, 360px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_640.jpg);
    }
}

@media #{query-splash-size(960px, 720px, 640px, 480px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_960.jpg);
    }
}

@media #{query-splash-size(1366px, 1025px, 960px, 720px)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_1366.jpg);
    }
}

@media #{query-splash-size(2048px, 1536px, 1366px, 1025px, $last: true)} {
    header.splash {
        background-image: url(/img/festa_2018/banner_2048.jpg);
    }
}
