---
---

@import 'base';

body {
    position: relative;

    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;

    box-sizing: border-box;
    min-height: 100vh;
}

footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
}
