---
---

@import 'base';

body {
    position: relative;

    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;

    box-sizing: border-box;
    min-height: 100vh;
}

@media (max-width: 417px) {
    body {
        margin-bottom: -$footer-height - $footer-font-size;
        padding-bottom: $footer-height + $footer-font-size;
    }
}

@media (max-width: 350px) {
    body {
        margin-bottom: -$footer-height - 2*$footer-font-size;
        padding-bottom: $footer-height + 2*$footer-font-size;
    }
}

footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
}
