---
---

@import 'base';

body {
    position: relative;

    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;

    box-sizing: border-box;
    min-height: 100vh;
}

@media (min-width: 351px) and (max-width: 409px) {
    body {
        margin-bottom: -$footer-height - $footer-font-size;
        padding-bottom: $footer-height + $footer-font-size;
    }
}

@media (max-width: 350px) {
    body {
        margin-bottom: -$footer-height - $footer-font-size - $footer-line-height;
        padding-bottom: $footer-height + $footer-font-size + $footer-line-height;
    }
}

footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -100; // Avoid covering hamburger menu
}
