<!DOCTYPE html>
<html lang="it">
<head>
    {% include meta.html %}

    {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}

    <meta name="theme-color" content="#49778e">
    <link rel="icon" type="image/png" href="/assets/img/icon_50.png" sizes="50x50">
    <link rel="icon" type="image/png" href="/assets/img/icon_100.png" sizes="100x100">

    <link rel="preload" as="font" href="/assets/fonts/Rustico-Regular.otf">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" crossorigin="anonymous">
    <link rel="preload" as="image" href="/assets/img/logo_small.png">

    {% for preload in page.preloads %}
        <link rel="preload" as="{{ preload.as }}" href="{{ preload.href }}" {% if preload.media %}media="{{ preload.media }}"{% endif %}>
    {% endfor %}
    {% for preload in layout.preloads %}
        <link rel="preload" as="{{ preload.as }}" href="{{ preload.href }}" {% if preload.media %}media="{{ preload.media }}"{% endif %}>
    {% endfor %}

    {% if page.stylesheet %}
        <link rel="preload" as="style" href="/assets/css/{{ page.stylesheet }}.css">
    {% endif %}
    {% for stylesheet in page.stylesheets %}
        <link rel="preload" as="style" href="/assets/css/{{ stylesheet }}.css">
    {% endfor %}
    {% if layout.stylesheet %}
        <link rel="preload" as="style" href="/assets/css/{{ layout.stylesheet }}.css">
    {% endif %}
    {% for stylesheet in layout.stylesheets %}
        <link rel="preload" as="style" href="/assets/css/{{ stylesheet }}.css">
    {% endfor %}

    {% if layout.stylesheet %}
        <link rel="stylesheet" href="/assets/css/{{ layout.stylesheet }}.css">
    {% endif %}
    {% for stylesheet in layout.stylesheets %}
        <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
    {% endfor %}

    {% if page.stylesheet %}
        <link rel="stylesheet" href="/assets/css/{{ page.stylesheet }}.css">
    {% endif %}
    {% for stylesheet in page.stylesheets %}
        <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
    {% endfor %}

    {% if page.style %}
        <style>
            {{ page.style }}
        </style>
    {% endif %}

    <!--<script src="/assets/js/bundle.js" async></script>-->
</head>
<body onresize="document.body.classList.remove('menu-open')">
    {{ content }}
    {% include footer.html %}
</body>
</html>
