<nav id="navbar-main" class="{% if page.invert_navbar or layout.invert_navbar %}inverted{% endif %} {% if page.floating_navbar or layout.floating_navbar %}floating{% endif %}">
    <a class="logo" href="/" title="Pagina principale">
        <span class="img"></span>
        <span>Associazione</span><br>
        <span>Grazie al Cielo</span>
    </a>
    <a class="button" href="/notizie" title="Notizie">Notizie</a>
    <a class="button" href="/chisiamo" title="Chi siamo">Chi siamo</a>
    <a class="button" href="/chisiamo#contatti" title="Contatti">Contatti</a>
</nav>
