<nav id="main-navbar" class="{% if page.invert_navbar or layout.invert_navbar %}inverted{% endif %} {% if page.floating_navbar or layout.floating_navbar %}floating{% endif %}">
    <span class="menu-backdrop"></span>
    <a class="logo" href="/" title="Pagina principale">
        <span class="img"></span>
        <span>Associazione</span><br>
        <span>Grazie al Cielo</span>
    </a>
    <span class="links">
        <span class="button"><a href="/notizie" title="Notizie">Notizie</a></span>
        <span class="button"><a href="/chisiamo" title="Chi siamo">Chi siamo</a></span>
        <span class="button"><a href="/chisiamo#contatti" title="Contatti">Contatti</a></span>
    </span>
    <span class="menu-button" onclick="window.scrollTo(0, 0); document.body.classList.toggle('menu-open')"></span>
</nav>
