$bg: #fff;
$fg: #000;
$accent: #0f8c5a;
$font: 'Lato', sans-serif;

$link-color: #08c;
$link-color-hover: #08f;
$link-decoration: underline;

$banner-font: 'Rustico', sans-serif;

$header-font: 'Roboto', sans-serif;
$header-weight: bold;
$header-color: $fg;

$navbar-font-weight: bold;
$navbar-font-size: 1em;
$navbar-height: 40px;
$navbar-padding: 30px;
$navbar-spacing: 10px;

$footer-height: 220px;
$footer-padding: 20px;
$footer-line-height: 60px;
$footer-spacing: 20px;
$footer-font: $font;
$footer-font-weight: $header-weight;
$footer-font-size: 15px;
$footer-text-transform: uppercase;
$footer-bg: #0f8c5a;
$footer-fg: #fff;
