@charset 'UTF-8';

@import 'theme';

@import 'fonts';

@import 'animation';
@import 'box-decoration-break';
@import 'no-select';
@import 'query';
@import 'transform';

@import 'button-shape';

body {
    margin: 0;

    background: $bg;

    font-family: $font;
    color: $fg;
}

.no-select {
    @include no-select;
}

a {
    &:link, &:active, &:visited {
        color: $link-color;
        text-decoration: $link-decoration;

        font-variant: small-caps;
        font-weight: bold;
    }

    &:hover {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
    }
}

section h1, h1.themed, section h2, h2.themed {
    margin: $heading-margin;

    font-family: $heading-font;
    font-weight: $heading-weight;

    text-transform: $heading-transform;
}

section h1, h1.themed {
    padding: 0 nth($heading-background-padding, -1);
    font-size: $heading-size;
    color: $heading-color;

    & > * {
        padding: $heading-background-padding;
        padding-left: 0;
        padding-right: 0;

        @include box-decoration-break(clone);

        box-shadow: -(nth($heading-background-padding, -1)) 0 0 0 $heading-background,
                    nth($heading-background-padding, -1) 0 0 0 $heading-background;
        background: $heading-background;
    }
}

section h2, h2.themed {
    font-size: 0.75*$heading-size;
}

footer {
    padding: (($footer-height - 2*$footer-line-height)/2) $footer-padding;

    line-height: $footer-line-height;

    background-color: $footer-bg;
    color: $footer-fg;

    text-align: center;

    font-weight: $footer-font-weight;
    font-size: $footer-font-size;
    text-transform: $footer-text-transform;

    @include no-select;

    img.fblogo {
        width: 1.4*$footer-font-size;
        height: 1.4*$footer-font-size;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -4px;
    }

    nav > * {
        display: inline-block;
        vertical-align: middle;
        line-height: $footer-line-height/2;

        margin-right: $footer-spacing;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid $footer-fg;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .copyright {
        padding: (($footer-line-height - $footer-font-size)/2) 0;
        line-height: $footer-font-size;
    }

    a:link,
    a:active,
    a:visited,
    a:hover {
        color: $footer-fg;
        text-decoration: none;
    }
}

@import 'card';
@import 'fragment';
@import 'navbar';
@import 'splash';
