---
---
@charset 'UTF-8';
@import 'no-select';

header {
    display: table;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 150px;

    background-size: cover;
    background-position: center;

    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, .2),
                inset 0 -10px 10px -10px rgba(0, 0, 0, .2);

    @include no-select;

    h1 {
        display: table-cell;

        margin: 0;

        text-align: center;
        vertical-align: middle;
    }
}

nav.inline-navbar {
    text-align: center;
    margin: 30px;
}

.content {
    margin: 0 auto;
    padding: 20px 50px 50px;

    max-width: 750px;

    font-size: 17px;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.no-hyphens {
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

blockquote {
    position: relative;
    z-index: -1;

    margin: 1em 30px;
    opacity: 0.6;
    font-style: italic;

    p {
        margin: 0;
    }
}

ul {
    padding-left: 20px;
}

li {
    padding-left: 5px;
    margin: 5px 0;
}

img {
    display: block;
    margin: 0 auto;

    &.left {
        display: inline-block;
        float: left;
        margin: 0 20px 15px 0;
    }

    &.right {
        display: inline-block;
        float: right;
        margin: 0 0 15px 20px;
    }
}

.post nav.inline-navbar:last-child {
    margin: 0;
    margin-top: 50px;
}

.post .content > h2:first-child {
    margin-bottom: 0;
}

.post a.date {
    display: block;
    margin: 1em 0 2em;

    font-size: 16px;

    &:link,
    &:active,
    &:visited {
        color: #000;
        opacity: 0.5;
        font-variant: normal;
        font-weight: normal;
    }

    &:hover {
        color: #000;
    }
}

@media (max-width: 600px) {
    .content {
        padding: 10px 20px 20px;

        h1, h2, blockquote {
            text-align: center;
        }

        img.center-at-600 {
            display: block;
            float: none;
            margin: 0 auto;
        }
    }

    .post .date {
        text-align: center;
    }

    .post nav.inline-navbar:last-child {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .content img.center-at-500 {
        display: block;
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .content img.center-at-400 {
        display: block;
        float: none;
        margin: 0 auto;
    }
}
