---
---
@charset 'UTF-8';
@import 'base';

body {
    position: relative;

    margin-bottom: -$footer-height;
    padding-bottom: $footer-height;

    box-sizing: border-box;
    min-height: 100vh;
}

@media (min-width: 351px) and (max-width: 569px) {
    body {
        margin-bottom: -$footer-height - $footer-line-height;
        padding-bottom: $footer-height + $footer-line-height;
    }
}

@media (max-width: 354px) {
    body {
        margin-bottom: -$footer-height - $footer-font-size - 2*$footer-line-height;
        padding-bottom: $footer-height + $footer-font-size + 2*$footer-line-height;
    }
}

footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
}
