<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}

    {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}

    {% if page.stylesheet %}
        <link rel="stylesheet" href="/css/{{ page.stylesheet }}.css">
    {% endif %}

    {% if layout.stylesheet %}
        <link rel="stylesheet" href="/css/{{ layout.stylesheet }}.css">
    {% endif %}

    {% if page.style %}
        <style>
            {{ page.style }}
        </style>
    {% endif %}

    <script src="/js/bundle.js" async></script>
</head>
<body>
    {{ content }}
    {% include footer.html %}
</body>
</html>
